{% extends "productos/base.html" %}
{% load static %}
{% block content %}

<section class="wrapper style1">

    <div class="container mt-5">
        <h1 class="text-center">Blog Todoclick | Clicky News</h1>
        <hr>
    
        <div class="row">
            <div class="col-md-12">
                <h2 class="blog-title">Netflix anuncia nueva serie con el tan querido y conocido Minecraft</h2>
                <p class="blog-date text-muted">07 Jun, 2024</p>
                <p class="blog-intro">Desde hace años que Netflix lanza series inspiradas en videojuegos, pero ahora toca una serie para uno de los juegos más populares de la historia: Minecraft.</p>
                <p class="blog-content">El 31 de mayo, mediante las redes sociales oficiales de Netflix anunciaron una nueva serie de animación en colaboración con Minecraft, la cual da a entender que están trabajando en la misma para una creación original para el gigante del streaming.</p>
                <p class="blog-content">Para muchos de nosotros, de los cuales Minecraft formó parte de nuestra infancia, esta noticia es algo refrescante y novedoso, a la vez que nostálgico, pues muchas veces soñamos en ver una serie animada de Minecraft más allá de las “series” de gameplays que subían los youtubers del momento, como Vegeta777 o elrubiusOMG. Y también, ¿Cómo olvidar aquel sueño que sería ver una película de Minecraft en la pantalla grande? Esperen, ya se confirmó un live action… ¿Por qué un live action?...</p>
                <p class="blog-content">Como sea, espero que muchos de ustedes estén tan emocionados como nosotros acerca de este nuevo lanzamiento por parte de Netflix, pero, ¿Qué esperamos de esto?, ¿Qué se sabe? ¡Tomemos nuestra picota de diamante y adentrémonos en la noticia del momento para ver qué podría suceder con esta serie que levantó tremenda nube de hype!</p>
                <h3 class="blog-subtitle">Lo que sabemos hasta ahora</h3>
                <p class="blog-content">Es cierto que no es la primera vez que Minecraft estará presente en Netflix, puesto que, en realidad, ya estaba antes la “serie” interactiva de Minecraft Story Mode, la cual venía de Telltale games, encargados de otras experiencias interactivas como The Walking Dead o The Wolf Among Us, pero no era una serie como tal, sino que se trataba de un videojuego de toma de decisiones.</p>
                <p class="blog-content">Ahora, Minecraft tendrá una nueva serie completamente original en Netflix, con su propia historia y personajes para celebrar los 15 años de aniversario de Mojang (casa desarrolladora de Minecraft).</p>
            </div>
        </div>
    </div>
    
    
</section>


{% endblock %}