{% extends "productos/base.html" %}
{% load static %}
{% block content %}

<section class="wrapper style1">
    <div class="container mt-5">
        <h1 class="text-center">Blog GearUP | Clicky News</h1>
        <hr>
    
        <div class="row">
            <div class="col-md-12">
                <h2 class="blog-title">¡Revisa los nuevos y alucinantes lanzamientos en el Nintendo Direct!</h2>
                <p class="blog-date text-muted">21 Jun, 2024</p>
                <p class="blog-intro">¡Juegos esperados e inesperados, remakes y sorpresas! Nintendo lanzó toda la carne a la parrilla en el Nintendo Direct, así que ve preparando tu Nintendo Switch</p>
                <p class="blog-content">El martes 18 de junio se llevó a cabo el nuevo Nintendo Direct, donde nos dieron montones de nueva información acerca de juegos nuevos y no tan nuevos para la Nintendo Switch, que se encuentra en la fase final de su ciclo de vida como consola de videojuegos y que, para cerrar con broche de oro, anunció nada menos que 31 lanzamientos nuevos para la Switch… 31 LANZAMIENTOS NUEVOS.</p>
                <p class="blog-content">Así que sabiendo que se viene una nueva consola de Nintendo, hay mucho por ver ahora y no queremos entretenerlos más con todo esto, así que relájense y disfruten, porque este nuevo artículo de Clicky News se viene laaaaaaargo.</p>
                <h3 class="blog-subtitle">Mario & Luigi: Conexión fraternal</h3>
                <p class="blog-content">Nintendo anunció una nueva entrega de un juego de Mario & Luigi después de 7 años, siendo que el último juego de esta saga salió en 2017 para la Nintendo 3DS. Por lo visto, tendrá un estilo de animación nuevo y gráficos preciosos más bien “cartoon”, siendo un juego RPG por turnos que se ve bastante divertido, así que esperemos a ver cómo se desarrolla esta relación entre los hermanos en este nuevo juego para Nintendo Switch.</p>
            </div>
        </div>
    </div>

    
</section>


{% endblock %}