{% extends "productos/base.html" %}
{% load static %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Otro contenido -->

            <article>
                <header>
                    <h2>Garantía legal</h2>
                    <p>La garantía mínima legal está protegida por la Ley del Consumidor 19.496. Con ella, tienes 6
                        meses de cobertura en caso de que el producto presente fallas, desperfectos de fabricación, le
                        falten piezas o partes, o se encuentre en alguna de las otras situaciones detalladas en esta
                        misma norma.</p>
                        <p>Después de que se realice un diagnóstico del estado del producto, puedes elegir entre cambio,
                        devolución o reparación sin costo si es que el producto no se deterioró por una causa atribuible
                        al consumidor.</p>
                </header>

                <h3>Condiciones de Garantia</h3>
                <p>Si el producto obtenido presenta algún defecto en el funcionamiento, en un tiempo de hasta 180 días
                    luego de haber realizado su compra, usted debe de llevar o enviar el equipo junto con copia de
                    boleta o factura, a nuestro servicio técnico.
                    En caso de existir, gastos de traslados estos serán a cargo del comprador.
                    Pasado los 180 días de garantía, el cliente deberá tomar contacto directamente con la marca del
                    producto adquirido y realizar derecho de garantía con la marca.
                    La garantía del producto no se extiende a posibles problemas relacionados con el software del
                    dispositivo (drivers, herramientas de personalización, etc.) a menos que impidan el funcionamiento
                    adecuado del dispositivo. Por lo general, los problemas de software pueden resolverse mediante
                    actualizaciones o revisiones proporcionadas por el fabricante del programa.</p>

                <h3>Politicas de cancelacion</h3>
                <p>El comprador tendrá hasta 10 días para percibir algún error entre lo recibido y lo comprado, después
                    de dicho plazo no se recibirán ningún tipo de reclamo.
                    El producto no debe haber sido usado y debe mantener el empaque original, sus plásticos, manuales
                    instructivos y accesorios, tal y como lo recibió incluyendo la boleta o factura.
                    En conformidad Art. 3° bis, letra b, ley N°19496. En TodoClick no se podrá realizar cambios por
                    compatibilidad o por el no gusto del cliente</p>

                <h3>¿Cuánto demora un reembolso?</h3>
                <p>En caso que el reembolso de dinero haya sido aprobado y se hayan entregado las indicaciones, 
                    los plazos en los cuales se ejecutarán serán los que se detallan a continuación:
                    Producto en garantía: Entre 3 y 5 días hábiles.
                    Devolución por retracto: Entre 3 y 5 días hábiles. (El plazo máximo para ejercer el derecho de retracto es de 10 días corridos 
                    desde la fecha de compra. Desde el día 11 este derecho no aplica.)
                    Solicitud de anulación de compra (casos excepcionales): 5 días hábiles.
                    Ordenes sin stock: 48 horas hábiles.</p>
                    
            </article>
        </div>
    </div>
</section>
{% endblock %}