{% extends "productos/base.html" %}
{% load static %}
{%block content %}

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2 >¡NUEVO! <em>Estamos emocionados de anunciar la llegada de nuestros nuevos audífonos gamer<a href="#"></a></em></h2>
						<a href="{% url 'audifono' %}" class="button">Ver mas</a>
					</header>
				</section>

			<!-- Highlights -->
			
			<!-- Gigantic Heading -->
			<section class="wrapper style2" style="margin-bottom: -20px;">
				<div class="container">
					<header class="major" style="margin-bottom: 0;">
						<h2>PC Gamers Armados</h2>
					</header>
					<div class="card-container">
						<div class="card">
							<img src="static/img/pc1.webp" alt="PC 1">
							<!-- Contenido de la primera tarjeta -->
							 <h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Black V1 AMD Ryzen 5 4600G, SSD 256GB, RAM 16 GB, W11P | Snake Gamer</p>
							<h1>$ 349.990</h1>
						</div>
						<div class="card">
							<img src="static/img/pc2.webp" alt="PC 2">
							<!-- Contenido de la segunda tarjeta -->
							<h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Black V0 AMD Ryzen 3 3200G, SSD 256GB, RAM 16 GB, W11P | Snake Gamer</p>
							<h1>$ 299.990</h1>
						</div>
						<div class="card">
							<img src="static/img/pc3.webp" alt="PC 3">
							<!-- Contenido de la tercera tarjeta -->
							<h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Black V5 AMD Ryzen 7 5700X, RADEON RX 7600, SSD 1TB, RAM 32 GB, W11P | Snake Gamer</p>
							<h1>$ 1.249.990</h1>
						</div>
						<div class="card">
							<img src="static/img/pc4.webp" alt="PC 4">
							<!-- Contenido de la cuarta tarjeta -->
							<h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Black V2 AMD Ryzen 5 5600GT, SSD 500GB, RAM 16 GB, W11P | Snake Gamer</p>
							<h1>$ 479.000</h1>
						</div>
						<div class="card">
							<img src="static/img/pc5.webp" alt="PC 5">
							<!-- Contenido de la quinta tarjeta -->
							<h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Black V3 AMD Ryzen 5 5600, RTX 3050, SSD 500GB, RAM 16 GB, W11P | Snake Gamer</p>
							<h1>$ 729.990</h1>
						</div>
						<div class="card">
							<img src="static/img/pc6.webp" alt="Experiencia 1">
							<!-- Contenido de la quinta tarjeta -->
							<h1>PC GAMER</h1>
							<p>Pc Gamer Vibora Pink V1 AMD Ryzen 5 4600G, SSD 256GB, RAM 16 GB, W11P| Snake Gamer</p>
							<h1>$ 379.990</h1>
						</div>
					</div>
				</div>
			</section>
			
			<!-- CTA -->

{%endblock%}