{% extends "productos/base.html" %}
{% load static %}

{% block content %}


<section id="banner">
    <header>
        <h2>¡Hola, gamer! <a href="#"></a></h2>
        <br></br>
        <h4> GearUp es una tienda especializada en periféricos y videojuegos. Ofrece una amplia gama de productos, 
            desde los últimos lanzamientos de juegos hasta accesorios avanzados como teclados mecánicos, ratones de precisión y auriculares envolventes. 
            Se esfuerza por proporcionar productos de alta calidad de marcas reconocidas y un servicio excepcional al cliente. Además de vender productos, 
            GearUp ofrece asesoramiento para ayudarte a encontrar el equipo perfecto según tus necesidades y presupuesto. Invita a unirte a su comunidad de jugadores 
            satisfechos y destaca como la tienda preferida por jugadores de todos los niveles.<br><br>
        </h4>
        
    </header>
</section>

<div class="container-fluid" style="text-align: center;">
	<div class="row">
		<div class="col-md-12">
			<section id="ubicacion">
				<br>
				<h1 style="font-size: 5vw; color: #000000cc;">¿Dónde Encontrarnos?</h1>
				<br>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3326.631820387229!2d-70.6118780734334!3d-33.51095500061493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x9662d071dbcda96b%3A0x7b2010540b83a1de!2sAv.%20Vicuña%20Mackenna%206100%2C%20La%20Florida%2C%20Región%20Metropolitana!3m2!1d-33.511334!2d-70.6102933!5e0!3m2!1ses!2scl!4v1715911699215!5m2!1ses!2scl" class="embed-responsive-item" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<p style="margin-top: 5%; font-size: 3vw;">
					Nos encontramos en Av. Vicuña Mackenna 6100, La Florida, Región Metropolitana, Chile.
				</p>
			</section>
		</div>
	</div>
</div>


{%endblock%}